	<main class="apply">
		<section>
			<div class="grant-heading" ng-click="main.go('apply', '/negative-hours')">
				<div class="grant-heading-img"></div>
				<h2><span class="grant-title">Negative Hours <br> Labor Grant</span></h2>
			</div>
			<p>Looking to propose a project that could use a 25 hour labor grant?</p>
		</section>
		<section>
			<div class="grant-heading" ng-click="main.go('apply', '/temp')">
				<div class="grant-heading-img"></div>
				<h2><span class="grant-title">Apply for or <br> offer temporary <br> work services.</span></h2>
			</div>
			<p>Have a skill set or looking to hire someone that involves a specific type of work?</p>
		</section>
	</main>