<main class="board">
		<article>
			<div class="board-img">
				<img src="img/rojo.jpg">
			</div>
			<aside>
				<p><span class="job-title">Founder, Director</span> Jojo Houff is a current student in the Sculpture + Extended Media program at VCU. She started Negative Hours during her Junior year at school. Her work is often lumped into the category of "Institutional Critique", but she is also interested in labor, exchange, and economy.</p>
			</aside>
		</article>
		<article>
			<div class="board-img">
				<img src="img/gav.jpg">
			</div>
			<aside>
				<p><span class="job-title">Production Assistant</span> Gavin Foster is currently studying Painting + Printmaking at VCU. He recently returned from the Middle East to oversee the Houff Foundation's international headquarters in Doha, Qatar. He served as a Sponge HQ monitor and is now the main contributor for Gouache Daily.</p>
			</aside>
		</article>
		<article>
			<div class="board-img">
				<img src="img/brooke.jpg">
			</div>
			<aside>
				<p><span class="job-title">Human Resources</span> Brooke Inman teaches Painting and Printmaking classes at VCU and University of Richmond. She aspires to be the best artist + tennis player in Richmond's Northside.</p>
			</aside>
		</article>
		<article>
			<div class="board-img">
				<img src="img/skyler.jpg">
			</div>
			<aside>
				<p><span class="job-title">Intern and Form Editor</span> Skyler Thompson is an outsider artist on the inside. He is currently painting in the VCU Sculpture Department. He is fond of rats and does not plan to move to Brooklyn anytime soon.</p>
			</aside>
		</article>
</main>