<main class="home">
		<article class="home-image">
			<img src="img/home.jpg">
		</article>
		<article class="home-description">
			<p>By offering the Negative Hours Grant, the Houff Foundation hopes to support ambitious ideas outside of a student's immediate means. This grant explores alternative ways of thinking about what constitutes as an asset or currency within the framework of existing capitalist economy. The Houff Foundation's interests in manipulation of authority roles and appropriation of organization, philanthropic, and economic vernacular inspired the Negative Hours Grant. The Houff Foundation formed in the Fall of 2013 and operates out of Richmond's Northside.</p>
		</article>
	</main>