<main class="projects">
		<article>
			<img src="img/wall.jpg">
			<aside>
				<h2>Re:Interns</h2>
				<h3>Houff Foundation</h3>
				<p>Summer 2015</p>
			</aside>
		</article>
		<article>
			<img src="img/pallavi.jpg">
			<aside>
				<h2>Spring Labor Grant</h2>
				<h3>Pallavi Sen</h3>
				<p>Spring 2015</p>
			</aside>
		</article>
		<article>
			<img src="img/ass.jpg">
			<aside>
				<h2>Ass-O-Matic Exchanger</h2>
				<h3>Roxanne Yamins</h3>
				<p>Fall 2014</p>
			</aside>
		</article>
		<article>
			<img src="img/addy22.jpg">
			<aside>
				<h2>House Addy</h2>
				<h3>Houff Foundation + Brooke Inman</h3>
				<p>Fall 2014</p>
			</aside>
		</article>
		<article>
			<img src="img/mdr.jpg">
			<aside>
				<h2>Quarterly Report (MDR)</h2>
				<h3>Houff Foundation</h3>
				<p>Fall 2013</p>
			</aside>
		</article>
	</main>