<main class="resources">
	<section class="resources-gifs">
			<img src="img/paint.gif">
			<img src="img/install.gif">
			<img src="img/cut.gif">
		</section>
		<article class="resources-description">
			By offering the Negative Hours Grant, the Houff Foundation hopes to support ambitious ideas outside of a student's immediate means. This grant explores alternative ways of thinking about what constitutes as an asset or currency within the framework of existing capitalist economy. The Houff Foundation's interests in manipulation of authority roles and appropriation of organization, philanthropic, and economic vernacular inspired the Negative Hours Grant. The Houff Foundation formed in the Fall of 2013 and operates out of Richmond's Northside. This grant explores alternative ways of thinking about what constitutes as an asset or currency within the framework of existing capitalist economy. The Houff Foundation's interests in manipulation of authority roles and appropriation of organization, philanthropic, and economic vernacular inspired the Negative Hours Grant. The Houff Foundation formed in the Fall of 2013 and operates out of Richmond's Northside.
		</article>
		<section class="skills">
			<header>Skills</header>
			<ul>
				<li>Screen Printing</li>
				<li>Wood</li>
				<li>Welding</li>
				<li>Mold Making</li>
				<li>CNC Cutting</li>
				<li>Install</li>
				<li>Archeology</li>
				<li>Web Development</li>
				<li>Writing</li>
			</ul>
		</section>
	</main>