<main class="temp">
		<section>
			<div class="temp-heading-apply">
				do you have a skillset? apply to be in our <span class="db">directory</span> for people looking to hire.
			</div>
			<div class="temp-heading-search">
				pressed for time and need to get some work done? check our directory and <span class="req">request</span> an arrangement.
			</div>
		</section>
		<section>
			<div class="temp-button temp-apply"><span ng-click="main.go('apply', '/temp-apply')">apply</span></div>
			<div class="temp-button temp-search"><span ng-click="main.go('apply', '/temp-search')">search</span></div>
		</section>
	</main>